<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Text to Video LMS</title>
</head>

<body>
    <div id="landing">
        <section id="home">
            <header>
                <div class="header">
                    <div class="nav">
                        <nav>
                            <div class="header-left">
                                <p>LOGO</p>
                            </div>
                            <div class="header-center">
                                <h2>AI for a better education</h2>

                                <ul class="nav-items-container">
                                    <div class="nav-items">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="#about">About us</a></li>
                                        <li><a href="#products">Products</a></li>
                                        <li><a href="#contact">Contact Us</a></li>
                                    </div>

                                </ul>
                            </div>
                            <div class="header-right">
                                <div class="nav-buttons">
                                    <button class="nav-btn"
                                        onclick="redirectToPage('/login')">Login</button>
                                    <button class="nav-btn" onclick="redirectToPage('/signup')">Sign Up</button>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>


            </header>
            <div class="landing-main-content">
                <div class="main-text-container">
                    <div class="main-text-card">
                        <h1>Welcome to GenEd</h1>
                        <p>Your teaching and study assistant</p>
                    </div>

                </div>

                <div class="main-section">
                    <div class="upload-section">
                        <div class="upload-container">
                            <div class="upload-container-text">
                                <h2>Upload your text to generate videos</h2>
                            </div>

                            <div class="upload-form-container">
                                <form class="upload-form" id="upload-form">
                                    <input type="file" id="uploadedFile" name="uploadedFile"
                                        accept=".txt,.doc,.docx,.pdf,.jpg,.png,.jpeg" />
                                    <button type="submit" id="upload-btn" >Upload and Extract Text</button>
                                    <p id="status"></p>
                                </form>
                            </div>

                        </div>

                        <div class="text-container">
                            <div class="text-container-text">
                                <h2>Extracted Text</h2>
                            </div>

                            <div class="extracted-text-section">
                                <div class="extracted-text-box">
                                    <!-- extracted text will appear here -->
                                    <textarea id="extracted-text" rows="10" readonly style="width:100%;"></textarea>
                                </div>
                                <div class="extracted-action-section">
                                    <button class="extracted-text-action-btn" id="generate-btn" disabled>Generate Video</button>
                                    <button class="extracted-text-action-btn" id="download-btn" disabled>Download Video</button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="video-section">
                        <div class="video-container">
                            <div class="video-container-text">
                                <h2>Generated Video</h2>
                            </div>

                            <div class="video-box">
                                <video id="generated-video" controls>
                                    <!--video source will be called by an API-->
                                    <source id="generated-video-src" src="" type="video/mp4">
                                    Your browser does not support HTML video.
                                </video>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </section>

    </div>

 
    <script src="/static/script.js"></script>
</body>

</html>