<form action="" class="sign-up-form">
    <label for="username">Fullname:</label>
    <input type="text" id="fullname" name="fullname" required><br><br>

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="username">Email:</label>
    <input type="text" id="email" name="email" required><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>

    <label for="username">Phone Number:</label>
    <input type="text" id="phone-number" name="phone-number"><br><br>

    <button type="submit">Sign Up</button>
</form>

<form action="" class="login-form">
    <label for="user">Username/Email:</label>
    <input type="text" id="user" name="user" placeholder="Your Username or Email" required><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>

    <button type="submit">Login</button>
</form>